@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

.container__page {
    padding: 0 calc(50% - 525px);

    @media (min-width: 768px) and (max-width: 1049px) {
        padding: 0 18px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding: 0 9px;
    }
}